<div class="container-fluid" id="main-container">
	<div class="row">
		<div class="col-sm-12 col-md-9" id="main-content">
	
			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<!-- [ OUTPUT BALLPARK MAP ] -->
			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<div class="row">
				<div class="col-sm-12" id="map-container">
					<ng-map id="map" center="37.971602,-96.1510076" zoom="4" scrollwheel="false">
						<marker position="32.7003659,-96.6822543" title="Hello World!"></marker>
					</ng-map>
				</div>
			</div>

			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<!-- [ OUTPUT BALLPARK SEARCH ] -->
			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<div class="row">
				<div class="col-sm-12" id="search-name">
					<div class="col-md-4 col-md-push-8" id="sb-search" class="sb-search">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control"  placeholder="Search" list="datalist">
								<datalist id="datalist">
									<option value="Fenway Park">
									<option value="AT&T Park">
									<option value="Busch Stadium">
									<option value="Chase Field">
									<option value="Citi Field">
									<option value="Citizens Bank Park">
									<option value="Comerica Park">
									<option value="Coors Field">
									<option value="Great American Ball Park">
								</datalist>
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>  
							</span>
						</div>
					</div>
					<div class="col-md-8 col-md-pull-4" id="name"><h1>Parks <span id="fname">FName</span> has <em>visited</em></h1> <!-- User: "I have", Friend: "FName has" -->
					</div>
				</div>
			</div>

			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<!-- [ OUTPUT SELECTED BALLPARK UPON SELECTION ] -->
			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<div class="row"> <!-- Hidden on load, toggles open if park is selected, has a toggle to close -->
				<div class="col-sm-12" id="selection-panel">
					<div class="row">
						<div class="col-sm-12" id="selection-name">
							<h2>[Park Name]</h2>
						</div>								
					</div>
					
					<div class="row">
						<div class="col-sm-8" id="selection-img">
							<!-- Image will need to be supplied dynamically from database -->
							<img class="img-responsive" src="./images/minute-maid-park.jpg">
						</div>
						<div class="col-sm-4 no-padding">
							<ul class="selection-info">
								<li> <h4>Location:</h4> 	</li> <!-- Set these to display as in-line block so they will wrap within row -->
								<li> [Arlington, TX]		</li> <!-- Width: 100% on xs, 50% on sm and up -->
								<li> <h4>League:</h4>		</li>
								<li> [American League]		</li>
								<li> <h4>Home Team:</h4>	</li>
								<li> [Texas Rangers]		</li>
							</ul>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-12" id="selection-visits"> <!-- hide if from view if selected park has not been added by user -->
							<ul class="selection-dates">
								<li>Dates visited:</li> 
								<li>[01/01/2017]</li>		
								<li>[01/02/2017]</li>
								<li>[01/03/2017]</li>
								<li>[01/04/2017]</li>
							</ul>
						</div>
					</div>							
				
					<div class="col-sm-8 col-sm-offset-2">
						<button type = "button" class = "btn btn-primary btn-lg btn-block">
							Add Ballpark
						</button>
					</div>
				</div>
			</div>
			
			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<!-- [ OUTPUT VISITED BALLPARKS ] -->
			<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
			<div class="row" id="visited-parks">
			
				<!-- ******************* New Park Box ******************* -->
				<div class="col-sm-6 col-lg-4 park" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"> <!-- Original ng-repeat code removed for test: ng-repeat="ballpark in ballparks"-->
					<div class="visited-box">
						<div class="row">
							<div class="col-sm-12">
								<h3>{{ ballpark.data.primary_name }}</h3>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<!-- Image will need to be supplied dynamically from database -->
								<img class="img-responsive park-img" src="./images/minute-maid-park.jpg">
							</div>
							<div class="col-sm-12">
								<div class="row visited-info">
									<div class="col-xs-6"> <h4>Location:</h4> 	 [City, State]	</div>
									<div class="col-xs-6 no-left-padding"> <h4>League:</h4>		 [League Name]	</div>
									<div class="col-xs-6"> <h4>Home Team:</h4>	 [Team Name]	</div>
									<div class="col-xs-6 no-left-padding"> <h4>Last Visited:</h4>	 {{ moment(ballpark.dateVisited).format('M/D/YYYY') }}	</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class="clearfix visible-sm-block visible-md-block" ng-if="($index+1)%2==0"></div> <!-- This is needed every time the visited parks wraps to a new line on a small/medium screen (Every 2 info boxes) -->
				<div class="clearfix visible-lg-block" ng-if="($index+1)%3==0"></div> <!-- This is needed every time the visited parks wraps to a new line on a large screen (Every 3rd info box) -->
				<div ng-repeat-end=""></div>
			</div> <!-- End of visited parks area -->
		</div> <!-- End of map, search, selected park, and visited parks area -->

		<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
		<!-- [ OUTPUT FRIENDS ] -->
		<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
		<div class="col-sm-12 col-md-3" id="friends-panel">
			<div id="friends-bg">
				<div class="row no-padding" id="friends-title">
					<div class="col-sm-12">
						<h2>Friends</h2>
					</div>
				</div>
				
				<div class="row">
				
					<!-- ************** Friend Box ************* -->
					<div class="col-xs-6 col-sm-4 col-md-12 friend" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
						<div class="row vertical-align">
							<div class="col-xs-6 col-sm-4">
								<img class="img-responsive" src="http://snf-661282.vm.okeanos.grnet.gr/web/LDAusers2/images/avatar.jpg">
								[FrFName]
							</div>
							<div class="col-xs-6 col-sm-8 friend-info">
								<div class="row">
									<div class="col-xs-6 col-sm-2"><span class="glyphicon glyphicon-globe"></span></div>
									<div class="col-xs-6 col-sm-10" id="visited-text"><b> [6]<span class="hidden-word"> Visited</span></b><br></div>
								</div>
								<div class="row">
									<div class="col-xs-6 col-sm-2"><span class="glyphicon glyphicon-resize-small"></span></div>
									<div class="col-xs-6 col-sm-10" id="visited-text"> [2]<span class="hidden-word"> Matches</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix visible-sm-block" ng-if="($index+1)%3==0"></div>
					<div ng-repeat-end=""></div>
				</div> <!-- End of friend boxes area -->
			</div> <!-- End of friends-bg -->
		</div> <!-- End of friends panel -->
		
	</div> <!-- End of main container row -->
</div> <!-- End of main-container -->