<div class="row">
	<div class="col-md-12">
		<h1>Users</h1>
		
		<p>
			<button class="btn btn-primary" ng-click="loadUsers();">Load Users</button>
		</p>
		
		<div ng-if="!users">User status: {{ loadUserMessage }}</div>

		<div class="table-responsive" ng-if="users">
			<table class="table table-striped">
				<thead> 
					<tr>
						<th>id</th>
						<th>fb_id</th>
						<th>first_name</th>
						<th>last_name</th>
						<th>permissions</th>
						<th>access_token</th>
					</tr> 
				</thead>
				<tbody>
					<tr ng-repeat="(key, value) in users">
						<th scope="row">{{ value._id }}</th>
						<td>{{ value.fb_id }}</td>
						<td>{{ value.first_name }}</td>
						<td>{{ value.last_name }}</td>
						<td>{{ value.permissions }}</td>
						<td>{{ value.access_token.substring(0, 5) }}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>
