body{
    background: #fff9ca;
    color: #6b5038;
}

h1, h2, h3{
	text-align: center;
	font-family: 'Lobster', cursive;
	text-shadow: 0.02em 0.02em 0.05em #333;
}

h2, h3 {
	margin: 10px 0;
}

h3 {
	color: #b3e9ff;
}
h4 {
    font-size: larger;
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding: 0;
}

.no-padding{
	padding:0;
}

.no-left-padding{
	padding-left:0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#wrapper {
	border: 5px solid #fff9ca;
}

/*==================================================
=                    Login Page                    =
==================================================*/
#login-description {
    margin: 0px 3px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 3px grey;
}

#login-description h1 {
	display:none;
}

#login-description #ballparks {
	color: #ec4c42;
    text-shadow: 0.01em 0.03em 0.05em #000
}

#login-description #i-visited {
	text-shadow: 0.02em 0.03em 0.05em #4c4c4c;
    font-size: xx-large;
    color: steelblue;
}

.login-content {
	background-color:steelblue;
	border-radius: 5px;
	padding: 15px;
	padding-bottom: 0px;
	margin-bottom: 15px;
	width:100%;
}

.login-content p {
	padding-top: 15px;
	width: 100%;
	font-family: 'Lato' sans-serif;
	font-size:large;
	text-align:center;
	color: white;
}

.img-login {
    margin-left: auto;
    margin-right: auto;
	max-width: 450px;
}

.img-login img {
	border: 10px solid white;
    border-radius: 8px;
    box-shadow: 0em 0em 1em #575757;
}

.btn-login {
	display: block;
	margin-left: auto;
    margin-right: auto;
	font-size: x-large;
	width: 200px;
}

.login-column {
	justify-content:space-between;
	display:flex;
	flex-wrap:wrap;
	width:100%;
}

.login-content {
	display:flex;
	flex-wrap:wrap;
}

#top-login-hide {
	display:block;
}
/*==================================================
=                  Navigation Bar                  =
==================================================*/
.navbar {
    background: #3f5030;
}

.navbar-header .navbar-brand, .navbar-header .navbar-brand>a {
    color:#fff9ca;
}

.navbar-header .navbar-brand>a:hover {
	color:#fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}

/* Styling for words in the brand name */

#ballparks {
	font-family: 'Alegreya SC', serif;
	font-size: xx-large;
	text-shadow: 0.05em 0.03em 0.05em #980000;
    color: #ffd0b4;
}

#plain {
	font-family: 'Lato', sans-serif;
	font-size:x-large;
}

#i-visited {
	font-family: 'Lobster', cursive;
	font-size: x-large;
	color: #88bdff;
    text-shadow: 0.1em 0.1em 0.05em #000000;
} /* End of brand name styling */

/* Links */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { /* Active navbar link */
	background-color: #4b6039;
	color: #fdffa5;
}

.navbar-default .navbar-nav>li>a { /* Inactive navbar link */
	color: #fff9ca;
}

.navbar-default .navbar-nav>li>a:hover { /* Inactive navbar link */
	color: #fff;
}
	
/*==================================================
=                   Main Content                   =
==================================================*/

#map{
	height:60vh;
	margin-bottom: 15px;
}

#main-container {
	padding:0;
	overflow:hidden;
}

/*==================================================
=            User First name and Search            =
==================================================*/

#name-row {
	background: rgba(163, 204, 255, 0.39);
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#name {
	margin: 15px 0;
}
#name > h1 {
	text-align: left;
	display:inline;
	font-size: x-large;
	font-family: "lato", sans-serif;
	text-shadow: 0.03em 0.03em 0.03em #70e0ff;
}

#fname {
	font-family: 'Lobster', cursive;
	font-size: xx-large;
	color: #7d0000;
    text-shadow: 0.02em 0.02em 0.05em #a65226;
} 

/* Search */
#sb-search {
	   padding-top: 18px;
}

.stylish-input-group .input-group-addon{
background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
	border:0;
	background:transparent;
}

.btn-primary {
	background:#6f0000;
	border-color:black;
}

.btn-primary:hover, .btn-primary:focus {
	background:#7d0000;
	border-color:black;
}

/* Facebook Button */

.fb-wrapper {
	margin: 18px 0 15px 0;
}

#fb-button {
	float:right;
	display:block;
	background-color:white;
	height:34px;
	text-decoration: none;
	color: #3b579d;
}

#fb-button:hover {
	box-shadow:0 0 0.4em #8b99bd;
}

#fb-button img {
	height:100%;
	width:auto;
}

#fb-share {
	display:none;
}

/*==================================================
=            Selected and Visited Parks            =
==================================================*/

#selected-row {
	margin: 0;
}

#selection-panel {
	margin-bottom: 15px;
	padding: 0 0 15px 0;
}

#selection-panel .row, #search-results .row {
	margin:0;
}

#selection-panel h4 {
    font-size: larger;
    letter-spacing: 2px;
}

#selection-info {
	padding: 0;
	padding-left: 15px;
	margin-bottom: 10px;
	display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

#selection-info > div {
	padding: 0;
	padding-bottom: 5px;
}

.selection-dates li {
	display: inline-flex;
	padding-right: 10px;
}

#selection-panel, .visited-box {
	background: #87563a;
	color:#ffffff;
	font-size: large;
}

#search-results {
	background: #87563a;
	margin-bottom: 15px;
	padding: 0 0 15px 0;	
}

#selection-img img {
	border: 1px solid white;
    box-shadow: 0 0 0.1em;
}

.park img, #selection-panel img {
	width: 100%;
	height: auto;
}

/* Park Image Attribution */
.tooltip-i {
	width: 36px;
	height:36px;
    font-size: x-large;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.79);
    color: darkblue;
    border: 1px solid white;
    text-align: center;
    position: absolute;
    bottom: 2px;
    left: 17px;
}

.tooltip-i .glyphicon {
    top: 3px;
    color: #004b6b;
}

.image-credit {
	display:block;
	padding:8px 15px;
	position:absolute;
	bottom:2px;
	left:53px;
	background-color:rgba(6, 48, 63, 0.78);
	border: 1px solid rgba(255, 255, 255, 0.60);
	vertical-align:middle;
}

.image-credit {
	font-size:small;
}

.image-credit a {
	color: #97cfff;
    text-decoration: none;
}

.image-credit a:focus, a:hover {
    color: #61c1ff;
}


/* Add and remove park button */
#add-remove-park {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
	padding: 10px 0;
	justify-content:center;
}

#add-remove-park label {
	color: #9ed9ff;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#add-remove-park input {
	width:auto;
	padding-left: 2%;
	max-height:30px;
}

#add-remove-park button {
	width: auto;
    padding-left: 46px;
    padding-right: 45px;
}

/* Styles specific to visited park panes */
.visited-box {		
	margin-bottom: 15px;
	padding: 0 10px 10px 10px;
	border-radius: 6px;
}

.visited-box h3, #selection-name h2 {
	color: #fff; 
	padding: 5px;
	margin-top: 4px;
	margin-bottom: 4px;
	text-shadow: 0.05em 0.05em 0.15em #39327e;
}
.visited-box img {
    border-radius: 3px;
    border: 1px solid white;
	box-shadow: 0 0 0.1em;
}

.visited-info {
	display:flex;
	font-size: medium;
	flex: 1 1 auto;
    justify-content: flex-start;
    align-content: stretch;
    padding-left: 15px;
    padding-right: 15px;
	margin-top:10px;
}

.visited-info > div {
	padding-bottom: 15px;
}
.visited-info h4 {
	margin: 5px 0px;
}

.vdata-wrapper {
    box-shadow: 0 0 0.1em;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: rgba(6, 48, 63, 0.68);
	padding:0;
}

.vdata-wrapper div {
	padding-top: 10px;
    padding: 10px 5px 0 10px;
    align-items: baseline;
}

.wrapflex {
	display:flex;
	flex-flow:column;
}

.wrapflex .wrapflex {
	flex: 1 1 auto;
    justify-content: flex-start;
    align-content: stretch;
}

/*==================================================
=                   Friends List                   =
==================================================*/

#friends-bg > .row {
	margin: 0;
}

#friends-panel {
	background: #546b40;
	color: #ffffff;
}

#friends-title {
	background: #87563a;
	color:white;
	border-bottom: 2px solid rgba(255, 249, 202, 0.58);
}

#friends-title h2 {
	text-shadow: 0.1em 0.12em 0.2em rgb(48, 68, 121);
}

.friend {
	border: 2px solid rgba(255, 249, 202, 0.58);
	padding: 10px 15px;
}

.friend-left img {
	padding-bottom: 5px;
}

.friend-info {
	font-size: large;
}

.hidden-word {
	display: none;
}

#visited-text {
	padding-right:0;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		.friend-info {
			font-size: x-large;
		}
		
		#fb-share {
			display:inline;
			padding:5px;
			font-weight:700;
			vertical-align:middle;
		}
		
		#fb-button {
			border-radius: 3px;
			border: 1px solid #7c91c5;
		}
		#fb-button img {
			padding: 5px 0 5px 5px;
		}
		
		.friend-left {
			font-size: larger;
		}
		#add-remove-park {
			flex-wrap:wrap;
		}
		
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		
		#selection-info {
			margin-top:0;
		}
		.park {
			display: flex;
		}
		
		#visited-parks {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
		}
				
		.visited-info h4 {
			padding-left: 0;
		}
		
		.visited-info, .visited-info h4 {
			font-size:medium;
		}
		
		.visited-info > div {
			padding-right:0;
		}
		
		.hidden-word {
			display: inline-block;
		}
		
		.friend-info {
			font-size: medium;
			padding:0;
		}
		
		.login-row {
			display:flex;
			flex-wrap:wrap;
		}
		
		#add-remove-park {
			flex-wrap:wrap;
		}
		
		#add-remove-park input {
			margin-left: 0;
		}
		
	}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		#main-content {
			padding-right: 15px;
		}
		
		#friends-bg > .row {
			margin: 0 -15px;
		}
	
		#friends-panel {
			padding-left: 15px;
			margin-bottom: 15px;
		}
		
		.friend-info {
			font-size: large;
		}
		
		#main-container > .row {
			display: flex;
		}
		
		.fb-wrapper {
			padding:0;
		}
		
		#top-login-hide {
			display:none;
		}
		
		.login-column {
			width:33.3333333333%;
		}
		
		#login-description h1 {
			display:block;
			margin-top:0;
		}
		
		.img-login {
			max-width:100%;
		}
		
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.friend-info {
			font-size: x-large;
		}

    }