body{
    background: #fff9ca;
    color: #6b5038;
}

h1, h2, h3{
	text-align: center;
	font-family: 'Lobster', cursive;
	text-shadow: 0.02em 0.02em 0.05em #333;
}

h2, h3 {
	margin: 10px 0;
}

h3 {
	color: #b3e9ff;
}
h4 {
    font-size: larger;
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding: 0;
}

.no-padding{
	padding:0;
}

.no-left-padding{
	padding-left:0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#wrapper {
	border: 5px solid #fff9ca;
}


/*==================================================
=                  Navigation Bar                  =
==================================================*/
.navbar {
    background: #3f5030;
}

.navbar-header .navbar-brand, .navbar-header .navbar-brand>a {
    color:#fff9ca;
}

.navbar-header .navbar-brand>a:hover {
	color:#fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}

/* Styling for words in the brand name */

#ballparks {
	font-family: 'Alegreya SC', serif;
	font-size: xx-large;
	text-shadow: 0.05em 0.03em 0.05em #980000;
    color: #ffd0b4;
}

#plain {
	font-family: 'Lato', sans-serif;
	font-size:x-large;
}

#i-visited {
	font-family: 'Lobster', cursive;
	font-size: x-large;
	color: #88bdff;
    text-shadow: 0.1em 0.1em 0.05em #000000;
} /* End of brand name styling */

/* Links */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { /* Active navbar link */
	background-color: #4b6039;
	color: #fdffa5;
}

.navbar-default .navbar-nav>li>a { /* Inactive navbar link */
	color: #fff9ca;
}

.navbar-default .navbar-nav>li>a:hover { /* Inactive navbar link */
	color: #fff;
}
	
/*==================================================
=                   Main Content                   =
==================================================*/

#map{
	height:60vh;
	margin-bottom: 15px;
}

ng-map#map {
    	height:60vh;
	margin-bottom: 15px;
}

#main-container {
	padding:0;
	overflow:hidden;
}

/*==================================================
=            User First name and Search            =
==================================================*/

#name-row {
	background: rgba(163, 204, 255, 0.39);
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}

#name {
	margin: 15px 0;
}
#name > h1 {
	text-align: left;
	display:inline;
	font-size: x-large;
	font-family: "lato", sans-serif;
	text-shadow: 0.03em 0.03em 0.03em #70e0ff;
}

#fname {
	font-family: 'Lobster', cursive;
	font-size: xx-large;
	color: #7d0000;
    text-shadow: 0.02em 0.02em 0.05em #a65226;
} 

#sb-search {
	   padding-top: 18px;
}

.stylish-input-group .input-group-addon{
background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
	border:0;
	background:transparent;
}

.btn-primary {
	background:#6f0000;
	border-color:black;
}

.btn-primary:hover, .btn-primary:focus {
	background:#7d0000;
	border-color:black;
}

/*==================================================
=            Selected and Visited Parks            =
==================================================*/


#selected-row {
	margin-right: 0;
}

#selection-panel {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#selection-panel .row {
	margin:0;
}

#selection-panel, .visited-box {
	background: #87563a;
	color:#fff9ca;
	font-size: large;
}

#add-remove-park {
	display:flex;
}

#add-remove-park label {
	color: #9ed9ff;
}

#add-remove-park input {
	width:auto;
	padding-left: 2%;
}

#add-remove-park button {
	width: 100%;
}

.park img, #selection-panel img {
	width: 100%;
	height: auto;
}

#selection-panel h4 {
    font-size: larger;
    letter-spacing: 2px;
}

#selection-info > div {
	padding-bottom: 15px;
}

.selection-dates li {
	display: inline-flex;
	padding-right: 10px;
}

.visited-box {		
	margin-bottom: 15px;
	padding: 0 5px 5px 5px;
}

.visited-box h3, #selection-name h2 {
	color: #fff; 
	padding: 5px;
	margin-top: 4px;
	margin-bottom: 4px;
	text-shadow: 0.05em 0.05em 0.15em #39327e;

}

.visited-box img {
	margin-bottom: 5px;
}

.visited-box>div>div {
	height: 100%;
}

.visited-info {
	font-size: medium;
}

.visited-info > div {
	padding-bottom: 15px;
}
.visited-info h4 {
	margin: 5px 0px;
}

	
/*==================================================
=                   Friends List                   =
==================================================*/

#friends-bg > .row {
	margin: 0;
}

#friends-panel {
	background: #546b40;
	color: #fff9ca;
}

#friends-title {
	background: #87563a;
	color:white;
	border-bottom: 2px solid rgba(255, 249, 202, 0.58);
}

#friends-title h2 {
	text-shadow: 0.1em 0.12em 0.2em rgb(48, 68, 121);
}

.friend {
	border: 2px solid rgba(255, 249, 202, 0.58);
	padding: 10px 15px;
}

.friend-info {
	font-size: large;
}

.hidden-word {
	display: none;
}

#visited-text {
	padding-right:0;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		.friend-info {
			font-size: x-large;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		
		.park {
			display: flex;
		}
		
		#visited-parks {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
		}
				
		.visited-info h4 {
			padding-left: 0;
		}
		
		.visited-info, .visited-info h4 {
			font-size:medium;
		}
		
		.visited-info > div {
			padding-right:0;
		}
		
		.hidden-word {
			display: inline-block;
		}
		
		.friend-info {
			font-size: medium;
			padding:0;
		}
	}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		#main-content {
			padding-right: 15px;
		}
		
		#friends-bg > .row {
			margin: 0 -15px;
		}
	
		#friends-panel {
			padding-left: 15px;
		}
		
		.friend-info {
			font-size: large;
		}
		
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.friend-info {
			font-size: x-large;
		}
    }
