body{
    background: #F2F7F2;
    /* background: #000000; */
    /* color: #FFFFFF; */
    color: #353535;
    /*text-align: center;*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary{
    
    color: white;
    background-color: red;
    border-color: black;
    font-size:40px;
    font-weight: bold;
}

/* TOP NAV BAR */
.navbar-inverse {
    /* brik/ivy */
    background-color: #79B27C;
    border-color: #79B27C;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #353535;
	background-color: transparent;
}

/* current tab -white*/
.navbar-inverse .navbar-brand {
    color: #353535;
}

/* other tab -yellowish*/
.navbar-inverse .navbar-nav > li > a {
    color: #353535;
}

/* current tab */
.navbar-inverse .navbar-nav > li.active > a, .navbar-inverse .navbar-nav > li.active > a:hover {
    background-color: #353535;
    color: #F2F7F2;
}

/* END NAV BAR */

/* .container{ */
/*     width:100%; */
/* } */


.park-container {
    padding-bottom: 10px;
}


#map{
height:60vh;
margin:0 15px 15px 15px;
}

.park{
    background: #7F6449;
    color: #F2F7F2;
    padding: 10px;
}

.friend-section{
    background: #7F6449;
    color: #F2F7F2;
    padding: 15px;
}
.friend-container {
    padding-bottom: 10px;
}
.friend{
    background: #F2F7F2;
    color: #353535;
    padding: 10px;
}

a.thumbnail{
	padding: 1px;
	/*margin: 0px 0px 15px 15px;*/
	max-height: 360px;
	max-width: 480px;
    margin-bottom: 0px;
    }

thumbnail>img {
    max-width: 100%;
    max-height: inherit;
}


/*search button*/
    a {
        color: #ccc;
    }
    
    /*-------------------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .form-wrapper {
      
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    
    
    .form-wrapper input:focus {
	color: black;
	outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
	overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 72px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        background: #e54040;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.byline p{
  text-align:center;
  color:#c6c6c6;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;
}
/*end of search button*/

