body{
    background: #f5f5dc;
    color: ##6b5038;
}

h1, h2, h3, h4, h5 {
 text-align: center;
}

.navbar, .navbar-inverse {
    background: #005511;
}

.navbar-inverse, .navbar-header .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-header .navbar-brand>a {
    color:#FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-header .navbar-brand>a:hover {
    color:#DDD;
}

.container{
    width:100%;
}

#main {
    padding:0;
}

#bodywrap {
margin-bottom: 15px;
}

#map{
height:60vh;
margin-bottom: 15px;
}

#friendtitle{
color: #fff;
background: #87563a;
}

#friendsrow {
padding-top: 5px;
}

#friendsrow [class*="col-md-12"] {
padding-top: 10px;
border-bottom: 2px solid #99CCDD;
}

#friendwrap{
color: #fff;
background: #546b40;
padding: 0;
}

#friendwrap h2{
font-size: medium;
text-align: top;
}

#park {
    background: #87563a;
    margin-bottom: 5%;
    padding: 0 3%;
    height: 100%;
    color: #ffffff;
    font-size: large;
}

#park img {
    width: 100%;
    height:auto;
}

#friend-stadium-total, #friend-stadium-total h2 {
margin-top:0;
padding-top:2%;
}

/*search button*/
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary{
    
    color: white;
    background-color: red;
    border-color: black;
    font-size:40px;
    font-weight: bold;
}

    a {
        color: #ccc;
    }
    
    /*-------------------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .form-wrapper {
      
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    
    
    .form-wrapper input:focus {
	color: black;
	outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
	overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 72px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        background: #e54040;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.byline p{
  text-align:center;
  color:#c6c6c6;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;
}
/*end of search button*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

	
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
	#main{
	    margin-right: 15px;
	}
	#bodywrap{
	    padding-right: 15px;
	}

	#park{
	    height: 35vh;
	}

	#park img {

	}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }